<div class="container-narrow">
  <div>
    <div class="md:mx-auto md:w-2/3">
      <%= render partial: 'leader' %>
      <%= render partial: 'rsvp_nav', locals: { active: 1 } %>

      <h2>About You</h2>

      <%= form_with(model: @guest, method: :patch, local: true, id: 'guest-edit-form') do |form| %>
      <div class="mb-4">
        <%= errors_for(@guest) %>
      </div>

      <div class="md:flex md:items-center mb-4">
        <div class="md:w-1/3">
          <%= form.label :email, class: 'col-form-label' %>
          <span class="wedding-required">*</span>
        </div>
        <div class="md:w-2/3">
          <%= form.email_field :email, id: 'guest_email', class: 'form-control', required: true %>
        </div>
      </div>

      <%= render partial: 'name', locals: { form: form, id_stem: 'guest' } %>

      <div class="md:flex md:items-center mb-4">
        <div class="md:w-1/3"></div>
        <div class="md:w-2/3">
          <p><strong>Will you be joining us?</strong></p>
          <div class="form-check-inline">
            <%= form.radio_button :attending, 'true', checked: true, id: 'guest_attending_true', class: 'form-check-input' %>
            <%= form.label :attending, 'Yes', value: 'true', class: 'form-check-label' %>
          </div>
          <div class="form-check-inline">
            <%= form.radio_button :attending, 'false', id: 'guest_attending_false', class: 'form-check-input' %>
            <%= form.label :attending, 'No', value: 'false', class: 'form-check-label' %>
          </div>
        </div>
      </div>

      <div class="guest-attending-only">
      <%= render partial: 'dietary_preferences', locals: { form: form, id_stem: 'guest' } %>

      <div class="md:flex md:items-start mb-4">
        <div class="md:w-1/3">
          <%= form.label :songs, 'Song Suggestions', class: 'col-form-label' %>
        </div>
        <div class="md:w-2/3">
          <%= form.text_area :songs, id: 'guest_songs', class: 'form-textarea' %>
          <small class="form-text">We're crowd sourcing our playlist! Choose some songs you'd like to hear.</small>
        </div>
      </div>
      </div>

      <div class="guests-buttons grid grid-cols-1 md:grid-cols-3 items-center">
        <div>
          <span class="wedding-required">* Required</span>
        </div>
        <div class="text-center">
          <%= form.submit 'Continue', class: 'btn btn-primary', data: { disable_with: 'Sending...' } %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
