<section id="welcome-index-leader" class="text-center text-white bg-cover bg-center" style="background-image: linear-gradient(rgba(28, 13, 10, 0.4), rgba(28, 13, 10, 0.6)), url('<%= asset_path('jumbo.jpg') %>'); height: 820px;">
  <div class="container-narrow">
    <h1 class="pt-[200px]"><%= t :wedding_couple_names %></h1>
    <p class="leader-date">
      <%= t :wedding_date %>, <%= t :wedding_location %>
    </p>
    <p>
      <%= link_to 'RSVP TODAY!', new_guest_path, class: 'btn btn-primary wedding-cta-btn' %>
    </p>
  </div>
</section>
