<section id="welcome-index-when-where">
  <div class="container-narrow">
    <div class="text-center">
      <h1 class="py-12">When &amp; Where</h1>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 text-center">
      <div>
        <h2><%= link_to 'wedding.ics' do -%>
          <%= render partial: 'calendar_svg' %>
        <%- end %></h2>
        <p>
          <strong>12:30pm &ndash; late</strong><br>
          <%= t :wedding_date %><br>
          &nbsp;<br>
        </p>
        <p><%= link_to 'Add to Calendar', 'wedding.ics' %></p>
      </div>
      <div>
        <h2><%= link_to @google_maps_url do -%>
          <%= render partial: 'map_marker_svg' %>
        <%- end %></h2>
        <p>
          <%= render partial: 'wedding_address' %>
        </p>
        <p>
          <%= link_to 'Google Maps', @google_maps_url %>
        </p>
      </div>
    </div>
  </div>
</section>
